:root {
    --height: 97vh;
    --width: calc(var(--height)*(7/12));
    --border: 2px solid #1460b6;
}
body {
    font-family: Roboto, Arial, serif;
    margin: 0;
    overflow: hidden;
}
.game {
    height: var(--height);
    width: calc(var(--width) + 1vh);
    margin: 0 auto;
}
.block {
    border-right: var(--border);
    border-bottom: var(--border);
    height: calc(var(--width)/7 - 2px);
    width: calc(var(--width)/7 - 2px);
    float: left;
}
.wrong {
    transition: 2s;
}
.marked {
    background-color: white !important;
}
.block-group div:first-of-type {
    border-left: var(--border);
}
#group11 .block {
    border-top: var(--border);
}
#group0 .block {
    margin-bottom: 10px;
}

#info {
    width: calc(var(--width) - 4px);
    background-color: #1555b6;
    color: white;
    border-bottom: 1px solid;
    font-size: 14px;
    padding: 3px;
}

#message {
    float: right;
    font-weight: bold;
    margin-right: 4px;
}

#configGear {
    float: right;
    cursor: pointer;
}

#configForm {
    display: none;
    padding: 11px;
    height: var(--height);
}

#configForm label {
    font-weight: bold;
}

#configForm input {
    float: right;
}

#configForm .info {
    border: 1px solid #1555b6;
    border-radius: 4px;
    padding: 5px;
    display: none;
}

.configFormButton {
    border: 1px solid #1555b6;
    margin-left: 3px;
    border-radius: 6px;
    color: #1460b6;
    padding: 4px;
    cursor: pointer;
}

.configFormButton[type="submit"] {
    color: white;
    background-color: #1460b6;
}